In [15]:
# Рисовать графики сразу же
%matplotlib inline

import re # регулярные выражения

# Статический вывод графики (графики отображаются в той ячейке, в которой используется plt.show())
import pandas as pd # Импортируем библиотеку обработки и анализа данных pandas
import matplotlib.pyplot as plt # Импортируем модуль pyplot библиотеки matplotlib для построения графиков
import datetime # Импортируем модуль datetime для обработки данных в формете даты
import numpy as np # Импортируем библиотеку numpy
from google.colab import files # Импортируем библиотеку files для работы с файлами

In [16]:
# чтение из файла .xls
data = pd.read_excel('/content/sample_data/ДатаСет Оценка резюме 581 резюме.xlsx')
data.head()

,Unnamed: 0,Дата отклика,ФИО,"Пол, возраст",ЗП,Ищет работу на должность,Город,Занятость,График,Опыт (),Последнее/нынешное место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Подходит - да/нет
0,0,2023-02-23 00:00:00,Bessonova Mariya,Женщина,90 000 руб.,Growth Product Manager,"Индонезия, Не готова к переезду, не готова к к...","проектная работа, частичная занятость, полная ...",удаленная работа,Опыт работы —5 лет 10 месяцев,PT MYBALI APP GROUP,Менеджер по продукту,"Высшее, 2023, Нетоло́гия, 2014, Университет Ро...",23 февраля 2023 в 16:30,да
1,1,2023-01-11 00:00:00,Ефремова Екатерина Вячеславовна,Женщина,не указана,Growth Product Manager,"Москва, Готова к переезду, готова к командировкам",полная занятость,"удаленная работа, гибкий график, полный день",Опыт работы —11 лет 11 месяцев,Банк Открытие,Product owner трайб сбережения и инвестиции,"Высшее, 2022, GeekBrains, 2010, Московский худ...",8 февраля 2023 в 09:15,да
2,2,2023-02-27 00:00:00,Фролов Артур Михайлович,"Мужчина, 33 года, родился 23 августа 1989",150 000 руб.,Growth Product Manager,"Санкт-Петербург, Готов к переезду: Москва, гот...","проектная работа, частичная занятость, полная ...","удаленная работа, гибкий график, полный день",Опыт работы —7 лет 2 месяца,DIKIY LLC,Директор по маркетингу и бренд-менеджер,"Высшее, 2013, Санкт-Петербургский государствен...",28 февраля 2023 в 09:41,да
3,3,2023-01-11 00:00:00,Хозаев Расул Шагаманович,"Мужчина, 32 года, родился 7 декабря 1990",не указана,Growth Product Manager,"Москва, м. Молодежная, Хочу переехать, готов к...","стажировка, частичная занятость, полная занятость","удаленная работа, гибкий график, полный день",Опыт работы —8 лет 10 месяцев,WeInvest,Product Manager (team leader),"Магистр, 2014, Московский государственный техн...",24 января 2023 в 12:07,да
4,4,2023-01-11 00:00:00,Шадрин Олег Михайлович,"Мужчина, 26 лет, родился 21 февраля 1996",150 000 руб.,Growth Product Manager,"Пермь, Хочу переехать, готов к командировкам","проектная работа, частичная занятость, полная ...","удаленная работа, гибкий график, полный день",Опыт работы —5 лет 9 месяцев,Индивидуальное предпринимательство / частная п...,Product/Project manager,"Высшее, 2021, Российская академия народного хо...",6 февраля 2023 в 11:18,да

In [18]:
# чтение из файла .xls
data = pd.read_excel('/content/sample_data/ДатаСет Оценка резюме 581 резюме.xlsx', index_col = 0)
data.head(3)

,Дата отклика,ФИО,"Пол, возраст",ЗП,Ищет работу на должность,Город,Занятость,График,Опыт (),Последнее/нынешное место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Подходит - да/нет
0,2023-02-23 00:00:00,Bessonova Mariya,Женщина,90 000 руб.,Growth Product Manager,"Индонезия, Не готова к переезду, не готова к к...","проектная работа, частичная занятость, полная ...",удаленная работа,Опыт работы —5 лет 10 месяцев,PT MYBALI APP GROUP,Менеджер по продукту,"Высшее, 2023, Нетоло́гия, 2014, Университет Ро...",23 февраля 2023 в 16:30,да
1,2023-01-11 00:00:00,Ефремова Екатерина Вячеславовна,Женщина,не указана,Growth Product Manager,"Москва, Готова к переезду, готова к командировкам",полная занятость,"удаленная работа, гибкий график, полный день",Опыт работы —11 лет 11 месяцев,Банк Открытие,Product owner трайб сбережения и инвестиции,"Высшее, 2022, GeekBrains, 2010, Московский худ...",8 февраля 2023 в 09:15,да
2,2023-02-27 00:00:00,Фролов Артур Михайлович,"Мужчина, 33 года, родился 23 августа 1989",150 000 руб.,Growth Product Manager,"Санкт-Петербург, Готов к переезду: Москва, гот...","проектная работа, частичная занятость, полная ...","удаленная работа, гибкий график, полный день",Опыт работы —7 лет 2 месяца,DIKIY LLC,Директор по маркетингу и бренд-менеджер,"Высшее, 2013, Санкт-Петербургский государствен...",28 февраля 2023 в 09:41,да

In [19]:
# Количество резюме и критерии
print(data.shape)

(579, 14)

In [20]:
# Пример данных
n = 12 # Берем первое резюме
for i in range(len(data.values[n])): # Выводим значение каждой графы резюме
  print(i, " ", data.values[n][i])

0   2023-01-23 00:00:00
1   Алексеева Светлана Владимировна
2   Женщина, 41 год, родилась 21 декабря 1981
3   не указана
4   Product Manager в команду Финансового департамента
5   Уфа, Не готова к переезду, не готова к командировкам
6   полная занятость
7   полный день
8   Опыт работы —16 лет 3 месяца
9   Газпромбанк
10   Начальник отдела сопровождения Договоров
11   Высшее, 2022, Международная ассоциация русскоязычных адвокатов, 2018, Уфимский государственный нефтяной технический университет, Уфа, 2011, Башкирский государственный университет, Уфа, 2007, Институт профессиональных бухгалтеров и аудиторов России, Москва, 2003, Финансовый университет при Правительстве Российской Федерации, Москва
12   8 февраля 2023 в 20:43
13   нет

In [21]:
# Пример данных
n = 11 # Берем первое резюме
for i in range(len(data.values[n])): # Выводим значение каждой графы резюме
  print(i, " ", data.values[n][i])

0   2023-01-29 00:00:00
1   Абзалилов Альберт
2   Мужчина, 28 лет, родился 18 октября 1994
3   70 000 руб.
4   Product Manager в команду Финансового департамента
5   Уфа, Готов к переезду, готов к командировкам
6   полная занятость
7   полный день
8   Опыт работы —5 лет 1 месяц
9   Ростелеком
10   Супервайзер отдела продаж
11   Высшее, 2016, Башкирский государственный аграрный университет, Уфа
12   31 января 2023 в 09:52
13   нет

In [22]:
# data.info() # Метод .info() показывает тип каждого столбца и занимаемую память
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 579 entries, 0 to 581
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Дата отклика                     579 non-null    object
 1   ФИО                              579 non-null    object
 2   Пол, возраст                     579 non-null    object
 3   ЗП                               579 non-null    object
 4   Ищет работу на должность         579 non-null    object
 5   Город                            579 non-null    object
 6   Занятость                        579 non-null    object
 7   График                           579 non-null    object
 8   Опыт ()                          579 non-null    object
 9   Последнее/нынешное место работы  579 non-null    object
 10  Последняя/нынешняя должность     579 non-null    object
 11  Образование и ВУЗ                579 non-null    object
 12  Обновление резюме                579 non-null    object
 13  Подходит - да/нет                500 non-null    object
dtypes: object(14)
memory usage: 67.9+ KB

In [23]:
data.count() # Метод count считает сколько всего непустых записей в каждом столбце

Дата отклика                       579
ФИО                                579
Пол, возраст                       579
ЗП                                 579
Ищет работу на должность           579
Город                              579
Занятость                          579
График                             579
Опыт ()                            579
Последнее/нынешное место работы    579
Последняя/нынешняя должность       579
Образование и ВУЗ                  579
Обновление резюме                  579
Подходит - да/нет                  500
dtype: int64

In [24]:
data.dtypes.value_counts()

object    14
dtype: int64

In [25]:
# определение пустых значений
data.isna().head()

,Дата отклика,ФИО,"Пол, возраст",ЗП,Ищет работу на должность,Город,Занятость,График,Опыт (),Последнее/нынешное место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Подходит - да/нет
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [26]:
data.isna().sum() # Подсчитаем количество пропусков в каждом столбце с помощью метода .sum()

Дата отклика                        0
ФИО                                 0
Пол, возраст                        0
ЗП                                  0
Ищет работу на должность            0
Город                               0
Занятость                           0
График                              0
Опыт ()                             0
Последнее/нынешное место работы     0
Последняя/нынешняя должность        0
Образование и ВУЗ                   0
Обновление резюме                   0
Подходит - да/нет                  79
dtype: int64

In [27]:
# заполнение пустых значений '---'
data.fillna('---').head()

,Дата отклика,ФИО,"Пол, возраст",ЗП,Ищет работу на должность,Город,Занятость,График,Опыт (),Последнее/нынешное место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Подходит - да/нет
0,2023-02-23 00:00:00,Bessonova Mariya,Женщина,90 000 руб.,Growth Product Manager,"Индонезия, Не готова к переезду, не готова к к...","проектная работа, частичная занятость, полная ...",удаленная работа,Опыт работы —5 лет 10 месяцев,PT MYBALI APP GROUP,Менеджер по продукту,"Высшее, 2023, Нетоло́гия, 2014, Университет Ро...",23 февраля 2023 в 16:30,да
1,2023-01-11 00:00:00,Ефремова Екатерина Вячеславовна,Женщина,не указана,Growth Product Manager,"Москва, Готова к переезду, готова к командировкам",полная занятость,"удаленная работа, гибкий график, полный день",Опыт работы —11 лет 11 месяцев,Банк Открытие,Product owner трайб сбережения и инвестиции,"Высшее, 2022, GeekBrains, 2010, Московский худ...",8 февраля 2023 в 09:15,да
2,2023-02-27 00:00:00,Фролов Артур Михайлович,"Мужчина, 33 года, родился 23 августа 1989",150 000 руб.,Growth Product Manager,"Санкт-Петербург, Готов к переезду: Москва, гот...","проектная работа, частичная занятость, полная ...","удаленная работа, гибкий график, полный день",Опыт работы —7 лет 2 месяца,DIKIY LLC,Директор по маркетингу и бренд-менеджер,"Высшее, 2013, Санкт-Петербургский государствен...",28 февраля 2023 в 09:41,да
3,2023-01-11 00:00:00,Хозаев Расул Шагаманович,"Мужчина, 32 года, родился 7 декабря 1990",не указана,Growth Product Manager,"Москва, м. Молодежная, Хочу переехать, готов к...","стажировка, частичная занятость, полная занятость","удаленная работа, гибкий график, полный день",Опыт работы —8 лет 10 месяцев,WeInvest,Product Manager (team leader),"Магистр, 2014, Московский государственный техн...",24 января 2023 в 12:07,да
4,2023-01-11 00:00:00,Шадрин Олег Михайлович,"Мужчина, 26 лет, родился 21 февраля 1996",150 000 руб.,Growth Product Manager,"Пермь, Хочу переехать, готов к командировкам","проектная работа, частичная занятость, полная ...","удаленная работа, гибкий график, полный день",Опыт работы —5 лет 9 месяцев,Индивидуальное предпринимательство / частная п...,Product/Project manager,"Высшее, 2021, Российская академия народного хо...",6 февраля 2023 в 11:18,да

Версия для хранения

In [28]:
# Данные о поле и возрасте
def getParameterSexAge(arg):
  out = 0
  #Если М, то 1. По умолчанию 0 - Ж
  if "Мужчина" in arg:
    sex='М'
  elif "Женщина" in arg:
    sex = 'Ж'
  else:
    sex = "Не указан"
  # текущий год - год рождения
  year_tec = 2020
  if (len(arg) > 7):
    out = year_tec - int(re.findall(r'\d{4}', arg)[0])

  return sex, str(out)

# Зарплата
def getParameterSalary(arg):
    global salaryStr, num #т.к. используем, меняем в функции
    # Сначала получаем чистое число, убираем лишние знаки
    salaryStr = 0
    arg=str(arg)
    salaryStr = re.sub(r'[^0-9]+', '', arg)
    #curr_ = re.sub('[0-9]','',arg).replace('.','')

    # Конвертируем в рубли, если валюта
    #if 'USD' in curr_ :   salaryStr = float(salaryStr)*75
    #elif 'KZT' in curr_:  salaryStr = float(salaryStr)*0.17
    #elif 'грн' in curr_:  salaryStr = float(salaryStr)*2.6
    num = salaryStr
    return salaryStr


# Данные о городе
def getParameterCity(arg):
  millionCities = "Новосибирск Екатеринбург Нижний Новгород Казань Челябинск Омск Самара Ростов-на-Дону Уфа Красноярск Пермь Воронеж Волгоград Сочи"
  sarg=arg.split(',')
  item = sarg[0] # Берем только город
  item= item.strip() # Удаляем пробелы
  if item == "Москва":          return "Москва"
  if item == "Санкт-Петербург": return "Санкт-Петербург"
  if item in millionCities:     return item
  else: return "малый или за пределами России город"

# Данные о желаемой занятости
def getParameterEmployment(arg):
  result = ''
  if ("стажировка" in arg)|("volunteer" in arg)|("work placement" in arg): result += 'стажировка '
  if ("частичная занятость" in arg)|("part" in arg):  result += 'частичная занятость '
  if ("проектная работа" in arg)|("project" in arg):  result += 'проектная работа '
  if ("полная занятость" in arg)|("full" in arg):     result += 'полная занятость'
  if result=='':
    result='Не указано'
  return result

# Данные о желаемом графике работы
def getParameterSchedule(arg):
  result = ''
  if ("гибкий график" in arg)|("flexible" in arg): result += 'гибкий график '
  if ("полный день" in arg)|("full" in arg): result += 'полный день '
  if ("сменный график" in arg)|("shift" in arg): result += 'сменный график '
  if ("удаленная работа" in arg)|("remote" in arg): result += 'удаленная работа'
  if result=='':
    result='Не указано'
  return result

# Данные об образовании
def getParameterEducation(arg):
  result = ''

  if ("Высшее" in arg)|("Магистр" in arg)|("Бакалавр" in arg): result += 'высшее '
  if ("Среднее специальное" in arg)|("среднее специальное"  in arg)|("колледж"  in arg): result += 'среднее специальное '
  #if ("Неоконченное высшее" in arg)|("неоконченное высшее"  in arg): result += 'неоконченное высшее '
  #if ("Среднее образование" in arg)|("среднее образование"  in arg): result += 'среднее образование'
  if result=='':
    result='Не указано'
  return result

# Данные об опыте работы
def getParameterExperience(arg):
  sarg = arg.split(" ", 5)
  years = 0
  months = 0
  if len(sarg)!=6: sarg.append(0);sarg.append('');sarg.append(0);sarg.append('')
  try:
    #print(sarg)
    years = int(sarg[2])
  except ValueError:
    years = 0

  try:
    months = int(sarg[4])
  except ValueError:
    months = 0
  return 12*years+months

In [ ]:
x = int(input())
try:
    print(10/x)
except:
    print('ошибка')

print('дальше')

In [29]:
data.head(1)

,Дата отклика,ФИО,"Пол, возраст",ЗП,Ищет работу на должность,Город,Занятость,График,Опыт (),Последнее/нынешное место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Подходит - да/нет
0,2023-02-23 00:00:00,Bessonova Mariya,Женщина,90 000 руб.,Growth Product Manager,"Индонезия, Не готова к переезду, не готова к к...","проектная работа, частичная занятость, полная ...",удаленная работа,Опыт работы —5 лет 10 месяцев,PT MYBALI APP GROUP,Менеджер по продукту,"Высшее, 2023, Нетоло́гия, 2014, Университет Ро...",23 февраля 2023 в 16:30,да

In [30]:
df = data.drop(data.columns[[0, 1, 4, 9, 10, 12, 13]],axis=1 ) # удаляем неинтересующие нас столбцы

In [ ]:
# подвыборка
#ndf = df[['Пол, возраст', 'Опыт ()', 'ЗП', 'Образование и ВУЗ', 'Город', 'График', 'Ищет работу на должность', 'Обновление резюме']].head() # Отобразим столбцы
#ndf

In [ ]:
# переведем выбранные столбцы к типу данных category
#for i in ndf.columns:
  #if i!='AMOUNT':
    #ndf[i] = ndf[i].astype('category')

In [ ]:
# посмотрим инфо в обновленной таблице
#ndf.info()

In [31]:
df.head(1)

,"Пол, возраст",ЗП,Город,Занятость,График,Опыт (),Образование и ВУЗ
0,Женщина,90 000 руб.,"Индонезия, Не готова к переезду, не готова к к...","проектная работа, частичная занятость, полная ...",удаленная работа,Опыт работы —5 лет 10 месяцев,"Высшее, 2023, Нетоло́гия, 2014, Университет Ро..."

In [32]:
# Создаем список в которых лежат объекты наших функций
funcList = [getParameterSexAge, getParameterSalary, getParameterCity, getParameterEmployment, getParameterSchedule, getParameterEducation, getParameterExperience]

# Проходимся по каждой колонке и применяем к каждой из колонок соответствующую функцию
for i in range(len(df.columns)):
 df[df.columns[i]] = [funcList[i](cell) for cell in df[df.columns[i]]]

In [33]:
df.head(3)

,"Пол, возраст",ЗП,Город,Занятость,График,Опыт (),Образование и ВУЗ
0,"(Ж, 0)",90000,малый или за пределами России город,частичная занятость проектная работа полная за...,удаленная работа,Не указано,0
1,"(Ж, 0)",,Москва,полная занятость,гибкий график полный день удаленная работа,Не указано,0
2,"(М, 31)",150000,Санкт-Петербург,частичная занятость проектная работа полная за...,гибкий график полный день удаленная работа,Не указано,0

In [ ]:
# описательная статистика числовых данных
df.describe()

In [39]:
# переведем выбранные столбцы к типу данных category
for i in df.columns:
  #if i!='AMOUNT':
    df[i] = df[i].astype('category')

In [40]:
# подвыборка
df.ЗП

0       90000
1
2      150000
3
4      150000
        ...
577     70000
578    100000
579     80000
580
581
Name: ЗП, Length: 579, dtype: category
Categories (43, object): ['', '1', '100000', '110000', ..., '80000', '85000', '90000', '95000']

In [41]:
# уникальные значения
df.ЗП.unique()

['90000', '', '150000', '120000', '100000', ..., '55000', '35000', '20000', '25000', '3000']
Length: 43
Categories (43, object): ['', '1', '100000', '110000', ..., '80000', '85000', '90000', '95000']

In [42]:
# количество уникальных значений
df.ЗП.nunique()

43

In [43]:
# количество значений каждого класса
df.ЗП.value_counts()

           288
50000       27
100000      25
70000       24
40000       23
150000      21
60000       21
30000       20
35000       19
80000       18
120000      15
200000       8
45000        8
90000        7
75000        5
110000       4
180000       4
85000        3
55000        3
95000        3
20000        3
25000        2
1550         2
250000       2
280000       2
2000         2
130000       2
1            2
65000        2
119000       1
1200         1
127000       1
140000       1
600000       1
2500         1
155000       1
160000       1
1900000      1
4000         1
350000       1
3500         1
3000         1
170000       1
Name: ЗП, dtype: int64